@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
}

.header-container {
  height: 64px;
  padding: 0 $space-xl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $shadow-medium;
}

.content-container {
  flex: 1;
}
